<div class="jumbotron" style="padding: 45px 0px">
  <h4 class="text-center">To Do List</h4>
</div>

<div class="input-group">
  <input type="text" class="form-control" #itemTitle>
  <div class="input-group-addon hover-cursor" (click)="add(itemTitle)">
    <i class="fa fa-plus-circle fa-2x"></i>
  </div>
</div>

<div style="margin: 5px 0px">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let item of toDoArray">
      <span class="hover-cursor" [class.text-success]="item.isChecked" (click)="check(item.$key,item.isChecked)">
        <i class="fa-lg" [ngClass]="item.isChecked ? 'far fa-check-circle' : 'far fa-circle'"></i>
      </span>
      {{ item.title }}
      <span class="hover-cursor text-danger pull-right">
        <i class="far fa-trash-alt fa-lg"></i>
      </span>
    </li>
  </ul>

</div>
